<section class="">
  <div class=" shadow-2-strong card-registration justify-content-center" style="border-radius: 15px;">
    <div class="p-4 p-md-5 justify-content-center contenitore2">

      <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- name -->
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="firstName">Nome</label>
                    <input type="text" id="name" class="form-control form-control-lg"  name="name" formControlName="name"/>
                    <div class="errori">
                      <p class="help is-danger" *ngIf="!form.get('name').valid && form.get('name').touched">Il campo nome é obbligatorio</p>
                    </div>
                  </div>

                </div>

                <!-- last name -->
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Cognome</label>
                    <input type="text" id="lastName" class="form-control form-control-lg"  name="lastName" formControlName="lastName"/>
                    <div class="errori">
                      <p class="help is-danger" *ngIf="!form.get('lastName').valid && form.get('lastName').touched">Il campo nome é obbligatorio</p>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <!-- birth date -->
                <div class="col-md-6 mb-4 d-flex align-items-center">

                  <div class="form-outline datepicker w-100">
                    <label for="birthdayDate" class="form-label">Data di Nascita</label>
                    <input type="date" class="form-control form-control-lg" id="birthdayDate" name="birthDate" formControlName="birthDate"/>
                    <div class="errori">
                      <p class="help is-danger" *ngIf="!form.get('name').valid && form.get('name').touched">Il campo nome é obbligatorio</p>
                    </div>
                  </div>

                </div>

                <!-- email -->
                <div class="col-md-6 mb-4">

                  <div class="form-outline">
                    <label class="form-label" for="lastName">Email</label>
                    <input type="text" id="lastName" class="form-control form-control-lg"  name="email" formControlName="email"/>
                    <div class="errori">
                      <p class="help is-danger" *ngIf="!form.get('lastName').valid && form.get('lastName').touched">Il campo nome é obbligatorio</p>
                    </div>
                  </div>

                </div>
              </div>

              <div class="row">

                <!-- password -->
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="emailAddress">Password</label>
                    <p-password [toggleMask]="true" name="password" formControlName="password" strongRegex="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$"></p-password>
                    <div class="errori">
                      <p class="help is-danger" *ngIf="!form.controls['password'].hasError('required') && !form.get('password').dirty && !form.get('password').touched">la password é obbligatoria</p>
                      <p class="help is-danger" *ngIf="form.controls.password.hasError('pattern')"> La password deve almeno contenere 1 numero, 1 minuscola, 1 maiuscola, 1 carattere speciale e lunga da 8-16 caratteri.</p>
                    </div>
                  </div>

                </div>

                <!-- check password -->
                <div class="col-md-6 mb-4 pb-2">

                  <div class="form-outline">
                    <label class="form-label" for="phoneNumber">Ripeti Password</label>
                    <p-password [toggleMask]="false" name="repeatPassword" [feedback]="false" formControlName="repeatPassword"></p-password>
                  </div>

                </div>
              </div>

              <div class="row">

                <!-- sesso -->
                <div class="col-md-6 mb-4 col-sesso">

                  <h6 class="mb-2 pb-1">Sesso: </h6>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="femaleGender" formControlName="gender"
                    value="option1"/>
                    <label class="form-check-label sesso" for="femaleGender">F</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input " type="radio" name="gender" id="maleGender" formControlName="gender"
                    value="option2" />
                    <label class="form-check-label sesso" for="maleGender">M</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" id="otherGender" formControlName="gender"
                    value="option3" />
                    <label class="form-check-label sesso" for="otherGender">Altro</label>
                  </div>
                  <div class="errori">
                    <p class="help is-danger" *ngIf="form.controls['gender'].hasError('required') && form.get('gender').touched"></p>
                  </div>

                </div>

                <!-- jason -->
                <div class="col-md-6 mb-4 pb-2">
                  <div class="mt-4 pt-2">
                    <!-- [disabled]="!form.valid" -->
                    <button type="submit" class="bottone btn-lg"  pButton pRipple (click)="showToast1()" label="Registrati"></button>
                    <p-toast key="toast1"></p-toast>
                  </div>
                </div>

              </div>


            </form>
          </div>
        </div>

</section>
