<header>
<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <img src="../assets/images/icons8-marvel-480.png" routerLink="home" class="icona-m">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link marvellando" routerLink="home">
            <span class="sottolineato">Marvellando</span>
          </a>
        </li>

        <li class="nav-item ricerca">
          <!-- <input class=" me-5" type="search" placeholder="Cerca" aria-label="cerca" [(ngModel)]="ricerca" (keyup.enter)="risultato()">
          <button class="search" (click)="risultato()">
            <fa-icon [icon]="faMagnifyingGlass" class="align-self-center nav-icon" ></fa-icon>
          </button> -->
             <input type="text" name="text" class="input" placeholder="cerca..." [(ngModel)]="ricerca" (keyup.enter)="risultato()" >
        </li>
      </ul>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="home">
            <img src="../../../assets/images/icons8-groot.svg" alt="" routerLink="home" class="icone-nav">
            <span class="sottolineato">Home</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="films">
                <img src="../../../assets/images/icons8-x-men.svg" alt="" routerLink="films" class="icone-nav">
                <span class="sottolineato">Film</span>
              </a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="contacts">
            <img src="../../../assets/images/icons8-martello-di-thor-48 (1).png" alt="" class="icone-nav">
            <span class="sottolineato">Contatti</span>
          </a>
        </li>
      </ul>

      <ul class="navbar-nav  d-flex justify-content-end">
        <li class="nav-item">
          <a class="nav-link" routerLink="/films/new-film">
            <img src="../../../assets/images/icons8-spider-man-vecchio.svg" alt="" class="icone-nav">
            <img src="" alt="" class="icone-nav">
            <span class="sottolineato">Nuovo Film</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="!authService.isLogged()">
          <a class="nav-link" routerLink="login" >
            <img src="../../../assets/images/icons8-capitan-america.svg" alt="" class="icone-nav">
            <span class="sottolineato">Accedi</span>
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.isLogged()">

          <a class="nav-link" routerLink="profile">
            <img src="../../../assets/images/icons8-capitan-america.svg" alt="" class="icone-nav" >
            <span class="sottolineato"> Profilo {{user.name}}</span>
          </a>

        </li>

        <li class="nav-item" *ngIf="authService.isLogged()">
          <a class="nav-link" routerLink="login" >
            <img src="../../../assets/images/icons8-thanos.svg" alt="" class="icone-nav">
            <span class="esci" (click)="logout()">Esci</span>

          </a>
        </li>

      </ul>

    </div>
  </div>
</nav>
<div class="linea-navbar"></div>
<!-- <div class="linea-navbar2"></div> -->
</header>

<!-- <header >
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav" >

        <div class="col-4">
          <img src="../assets/images/icons8-marvel-480.png" class="icona-m">
          <a class="navbar-brand" routerLink="home"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="col-4 d-flex collapse navbar-collapse justify-content-center " id="navbarNav">
          <ul class="navbar-nav  lista-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="home">
                <img src="../../../assets/images/icons8-groot.svg" alt="" routerLink="home" class="icone-nav">
                <span class="sottolineato">Home</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="films">
                <img src="../../../assets/images/icons8-x-men.svg" alt="" routerLink="films" class="icone-nav">
                <span class="sottolineato">Film</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="">
                <img src="../../../assets/images/icons8-martello-di-thor-48 (1).png" alt="" class="icone-nav">
                <span class="sottolineato">Contatti</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse col-4 d-flex justify-content-end" id="navbarNav" >
          <ul class="navbar-nav lista-nav-destra">

            <li class="nav-item ricerca"> -->
              <!-- <input class=" me-5" type="search" placeholder="Cerca" aria-label="cerca" [(ngModel)]="ricerca" (keyup.enter)="risultato()">
              <button class="search" (click)="risultato()">
                <fa-icon [icon]="faMagnifyingGlass" class="align-self-center nav-icon" ></fa-icon>
              </button> -->

<!--
                 <input type="text" name="text" class="input" placeholder="cerca..." [(ngModel)]="ricerca" (keyup.enter)="risultato()" >
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLink="/films/new-film">
                <img src="../../../assets/images/icons8-spider-man-vecchio.svg" alt="" class="icone-nav">
                <img src="" alt="" class="icone-nav">
                <span class="sottolineato">Nuovo Film</span>
              </a>
            </li>


            <li class="nav-item" *ngIf="!authService.isLogged()">
              <a class="nav-link" routerLink="login" >
                <img src="../../../assets/images/icons8-capitan-america.svg" alt="" class="icone-nav">
                <span class="sottolineato">Accedi</span>
              </a>
            </li>

            <li class="nav-item" *ngIf="authService.isLogged()">

              <a class="nav-link" routerLink="profile">
                <img src="../../../assets/images/icons8-capitan-america.svg" alt="" class="icone-nav" >
                <span class="sottolineato"> Profilo {{user.name}}</span>
              </a>

            </li>

            <li class="nav-item" *ngIf="authService.isLogged()">
              <a class="nav-link" routerLink="login" >
                <img src="../../../assets/images/icons8-thanos.svg" alt="" class="icone-nav">
                <span class="esci" (click)="logout()">Esci</span>

              </a>
            </li>


          </ul>
        </div>

      </div>

    </div>

  </nav>
<div class="linea-navbar"></div>
  <div class="linea-navbar2"></div>
</header> -->
