// start navabar
.icona-m {
  width: 35px;
  height: 40px;

}

header{
  z-index: 3;
}
.lista-nav{
  display: flex;
  justify-content: center;
  width: 100%;
  // font-size: 20px;
}

.icone-nav{
  height: 30px;
}

.linea-navbar{
  width: 65%;
  background-color: var(--nero);
  height: 3px;
  margin: auto;
  border-radius: 3px;
}

// .linea-navbar2{
  //   width: 65%;
  //   background-color: var(--bianco);
  //   height: 3px;
  //   margin: auto;
  // }

  .navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  a{
    font-family: var(--titolo);
  }
  //end navbar
