<header class="navbar-fixed bg-white">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav" >
        <img src="../assets/images/icons8-marvel-480.png" class="icona-m">
        <a class="navbar-brand" href="#"></a>


        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>


        <ul class="navbar-nav  lista-nav">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Film</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="linea-navbar"></div>
  <div class="linea-navbar2"></div>
</header>
