<header class="navbar-fixed  bg-white" stackable="true">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarNav" >
        <img src="../assets/images/icons8-marvel-480.png" class="icona-m">
        <a class="navbar-brand" routerLink="home"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <ul class="navbar-nav  lista-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">
              <img src="../../../assets/images/icons8-groot.svg" alt="" routerLink="home" class="icone-nav">
              Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="films">
              <img src="../../../assets/images/icons8-x-men.svg" alt="" routerLink="films" class="icone-nav">
              Film</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="">
              <img src="../../../assets/images/icons8-martello-di-thor-48 (1).png" alt="" class="icone-nav">
              Contatti
            </a>
          </li>
        </ul>
      </div>

      <div class="nav-item">
          <a class="nav-link" routerLink="register">
            <img src="../../../assets/images/icons8-capitan-america.svg" alt="" class="icone-nav">
            Registrati
          </a>
      </div>
    </div>
  </nav>
  <div class="linea-navbar"></div>
  <!-- <div class="linea-navbar2"></div> -->
</header>
