
.img-titolo{
width: 40%;
// height: 30%;
}

.benvenuto{
  color: var(--nero);
  font-weight: 700;
  font-family: 'Noto Sans TC', sans-serif;
  margin-top: 5%;
  text-align: center;
  font-size: 50px;
}

.testo-benvenuto{
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 600;
  color: var(--nero);
  font-size: small;
  padding: 20px;
  margin-top: 2%;
}



