
.img-titolo{
  width: 40%;
  // height: 30%;
}

//card
.main{
  position: relative;
  top: 2%;
}

.sottotitolo{
  color: var(--bianco);
  font-weight: 700;
  font-family: var(--titolo);
  margin-top: 10%;
  margin-bottom: 4%;
  text-align: center;
  font-size: 50px;
}
// p {
  //   position: relative;
  //   margin-bottom: 0rem;
  //   top: 30px;
  //   margin: 10px;
  // }
  .contenitore-card{
    display: flex;
    justify-content: center;
    margin: 0;
  }

  // $color-primary-white: var(--bianco);

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    font-family: 'Noto Sans TC', sans-serif;
  }

  .card {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: rgb(245, 245, 245);
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.9;
      transition: opacity .2s ease-out;
    }

    p, a {
      position: absolute;
      opacity: 0;
      max-width: 80%;
      transition: opacity .3s ease-out;
      font-family: 'Noto Sans TC', sans-serif;
      text-shadow: 2px 2px 2px #000,
      -2px -2px 2px #000,
      2px -2px 2px #000,
      -2px 2px 2px #000;

    }

    a {
      inset: auto auto 40px 30px;
      color: inherit;
      text-decoration: none;
    }

    &:hover p, &:hover a {
      opacity: 1;
      transition: opacity .5s .1s ease-in;
      // margin: auto;
    }

    &:hover img {
      transition: opacity .3s ease-in;
      opacity: 0.5;
      // opacity: 0.7!important;
      // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.584)!important;
    }

  }

  .material-symbols-outlined {
    vertical-align: middle;
  }

  // modale
  div#container-utente {
    background: var(--nero);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 0px;
    z-index: 10;
    margin-left: -11%;

    div#dati-utente {
      background: var(--bianco);
      width: 60%;
      border: 5px solid var(--nero);
      border-radius: 30px;
      padding: 16px;

      h2 {
        font-size: 30px!important;
        text-align: center;
      }

      .bordino-popup {
        border: none;
        width: 100%;
        color: transparent;
        border-bottom: 1px solid var(--nero);
        height: 1px;
        margin: 20px 0;
      }

      ul {
        height: 90px;
        margin-top: 33px;
        font-size: 18px;
        text-align: center;

        li {
          line-height: 40px;
          list-style-type: none;
        }
      }

      button.btn.btn-primary.btn-lg {
        width: 50%;
        margin-left: 25%;
        // background: var(--nero);
      }

      button {
        background:  rgb(5, 5, 5);
        -webkit-animation: jello-horizontal 0.9s both;
        animation: jello-horizontal 0.9s both;
        border: 2px solid rgb(5, 5, 5);
        border-radius: 10px;
        outline: none;
        color: rgb(245, 245, 245);
        font-size: 17px;
      }

      button:hover {
        background:  rgb(245, 245, 245);
        color: rgb(5, 5, 5);
        animation: squeeze3124 0.9s both;
      }

      @keyframes squeeze3124 {
        0% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }

        30% {
          -webkit-transform: scale3d(1.25, 0.75, 1);
          transform: scale3d(1.25, 0.75, 1);
        }

        40% {
          -webkit-transform: scale3d(0.75, 1.25, 1);
          transform: scale3d(0.75, 1.25, 1);
        }

        50% {
          -webkit-transform: scale3d(1.15, 0.85, 1);
          transform: scale3d(1.15, 0.85, 1);
        }

        65% {
          -webkit-transform: scale3d(0.95, 1.05, 1);
          transform: scale3d(0.95, 1.05, 1);
        }

        75% {
          -webkit-transform: scale3d(1.05, 0.95, 1);
          transform: scale3d(1.05, 0.95, 1);
        }

        100% {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
    }
  }







