
h2{
  text-align: center;
  margin-top: 20px;
  color: var(--bianco);
  font-family: var(--thanos);
  font-weight: 550;
  font-size: 50px;
}
.container-fluid{
  width: 70%;
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}
.tipo{
  color: var(--bianco);
  font-family: var(--titolo);
  font-weight: 550;
  font-size: 30px;
  line-height: 2;
}

.contenuto{
  color: var(--bianco);
  font-size: 20px;

}

@media only screen and (min-width: 0px) and (max-width: 480px){

  h2{
    font-family: var(--thanos);
    font-weight: 550;
    font-size: 25px;//
  }
  .container-fluid{
    width: 90%;//
  }
  .tipo{
    font-weight: 450;
    font-size: 17px;//
  }

  .contenuto{
    color: var(--bianco);
    font-size: 13px;//
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  h2{
    font-family: var(--thanos);
    font-weight: 550;
    font-size: 40px;//
  }
  .container-fluid{
    width: 90%;//
  }
  .tipo{
    font-weight: 450;
    font-size: 25px;//
  }

  .contenuto{
    color: var(--bianco);
    font-size: 15px;//
  }

}
@media only screen and (min-width: 769px) and (max-width: 1023px){
  h2{
    font-family: var(--thanos);
    font-weight: 550;
    font-size: 40px;//
  }
  .container-fluid{
    width: 80%;//
  }
  .tipo{
    font-weight: 450;
    font-size: 25px;//
  }

  .contenuto{
    color: var(--bianco);
    font-size: 15px;//
  }
}
