.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}


.card-registration .select-arrow {
  top: 13px;
}

.card-registration{
  position: relative;
  left: 0;
  right: 0;
  width: 100%;

  .form-control{
    border: 2.5px var(--nero) solid;
  }


  .contenitore2{
    position: relative;
    margin: 0 auto;

    label,h6{
      position: relative;
      color: var(--bianco);
      font-weight: 550;
      // line-height: 1.2;
      font-family: var(--titolo);
      // margin-top: 5%;
      // margin-bottom: 4%;
      text-align: start;
      font-size: 25px;

    }
    .tec{
      font-size: 15px;
    }

    .pasquale{
      color: var(--nero);
    }

    row{
      height: 50%;
    }

    .sesso, .check{
      font-family: 'Noto Sans TC', sans-serif;
      font-size: 20px;
      font-weight: 400;
    }

    .check{
      margin-top: 2%;
      .form-check-input[type=checkbox] {
        border-radius: 0.25em;
        margin: unset;
      }
    }

    .bottone{
      background-color: var(--nero);
      color: var(--bianco);
      border-radius: 10px;
      height: 55px;
      width: 49%;
      font-size: 30px;
      font-family: var(--titolo);
      cursor: pointer;
      margin-left: 25%;

    }

    button {
      background:  rgb(5, 5, 5);
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
      border: 2px solid rgb(5, 5, 5);
      border-radius: 10px;
      outline: none;
      color: rgb(245, 245, 245);
      font-size: 17px;
    }

    button:hover {
      background:  rgb(245, 245, 245);
      color: rgb(5, 5, 5);
      animation: squeeze3124 0.9s both;
    }

    @keyframes squeeze3124 {
      0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }

      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
      }

      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
      }

      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
      }

      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
      }

      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
      }

      100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
      }
    }







    .form-control{
      height: 52px;
    }

    .errori{
      height: 20px;
    }

    .col-sesso{
      padding-top: 25px;
    }

  }
  .condizioni{
    font-size: 25px !important;
    padding-bottom: 10 px;
    margin-left: 5px;
  }

}




// modale
.modal-header{
  h3{
    font-family: var(--titolo);
    font-size: 40px;
  }
}
.modal-body{

  span{
    font-family: var(--titolo);
    font-size: 20px;
  }
  .descrizioni{
    .ul{
      li{
        width: 100%;
        margin-top: 20px;

    }
    }
  }
  .image{
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border-radius: 0 10px 10px 0 !important;
  }
}

.bottoni-modale{
  background-color: var(--nero);
  color: var(--bianco);
  border-radius: 10px;
  height: 55px;
  width: 25%;
  font-size: 20px;
  font-family: var(--titolo);
  cursor: pointer;
  margin-left: 2%;
}


//switch iron man
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 34.5px;
  overflow: hidden;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bianco);
  transition: .4s;
  border-radius: 30px;
}

.commutator {
  cursor: pointer;
  position: absolute;
  top: -29%;
  left: -14%;
  transition: .4s;
}

.iron-man {
  position: absolute;
  top: -27%;
  left: -100%;
  transform: rotate(90deg);
}

.input:checked + .slider {
  background-color: var(--bianco);
}

.input:checked + .slider .commutator {
  transform: translateX(34.5px);
  opacity: 0;
}

.input:checked + .slider .iron-man {
  animation: show_5911 1.3s ease-in-out forwards;
}

@keyframes show_5911 {
  0% {
    transform: translateX(0px) rotate(90deg);
  }

  50% {
    transform: translateX(75px) rotate(90deg);
  }

  100% {
    transform: translateX(79px) rotate(0deg);
  }
}
