form{
  width: 30%;
  // height: 400px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 35%;
  border: 1px black solid;
  border-radius: 10px;
  position: relative;
  background-color: var(--bianco);

  svg{

    margin-top: 5%;
    margin-left: 90%;
  }
  h2{
    font-size: 30px;
    color: var(--nero);
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: 550;
    font-family: var(--titolo);
    text-align: center;
    width: auto;
  }


  .container-campi{
    // margin: 20px ;
    position: relative;
    justify-items: center;
    // background-color: $primary-color-1;

    .campi{
      position: relative;
      width: 80%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 5% 5% 5% 10%;

      .form-control{
        height: 55px;
        border: 2.5px solid var(--nero);
      }

      label{
        font-size: 20px;
        color: var(--nero);
        margin-bottom: 5px;
        font-weight: 550;
        // line-height: 1.2;
        font-family: var(--titolo);
        // margin-top: 5%;
        // margin-bottom: 4%;
        text-align: start;
        // font-size: 25px;
      }
    }


    .bottone{
      background-color: var(--nero);
      color: var(--bianco);
      border-radius: 10px;
      height: 55px;
      width: 49%;
      font-size: 30px;
      font-family: var(--titolo);
      cursor: pointer;
      margin-left: 25%;
      margin-top: 10%;

    }

    button {
      background:  rgb(5, 5, 5);
      -webkit-animation: jello-horizontal 0.9s both;
      animation: jello-horizontal 0.9s both;
      border: 2px solid rgb(5, 5, 5);
      border-radius: 10px;
      outline: none;
      color: rgb(245, 245, 245);
      font-size: 17px;
     }

     button:hover {
      background:  rgb(245, 245, 245);
      color: rgb(5, 5, 5);
      animation: squeeze3124 0.9s both;
     }

     @keyframes squeeze3124 {
      0% {
       -webkit-transform: scale3d(1, 1, 1);
       transform: scale3d(1, 1, 1);
      }

      30% {
       -webkit-transform: scale3d(1.25, 0.75, 1);
       transform: scale3d(1.25, 0.75, 1);
      }

      40% {
       -webkit-transform: scale3d(0.75, 1.25, 1);
       transform: scale3d(0.75, 1.25, 1);
      }

      50% {
       -webkit-transform: scale3d(1.15, 0.85, 1);
       transform: scale3d(1.15, 0.85, 1);
      }

      65% {
       -webkit-transform: scale3d(0.95, 1.05, 1);
       transform: scale3d(0.95, 1.05, 1);
      }

      75% {
       -webkit-transform: scale3d(1.05, 0.95, 1);
       transform: scale3d(1.05, 0.95, 1);
      }

      100% {
       -webkit-transform: scale3d(1, 1, 1);
       transform: scale3d(1, 1, 1);
      }
     }
    .alert{
      text-align: center;
      color: var(--nero);

    }

  }


}
p{
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 480px){
  form{
    width: 95%;//
    margin-left: 2.5%;//
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  form{
    width: 70%;//
    margin-left: 15%;//
  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
  form{
    width: 50%;//
    margin-left: 25%;//
  }
}



