
<section>
  <div class="linea-benvenuto-top"></div>


  <div class="container text-center">
    <div class="row">

      <div class="col-md-3">
        <main >
          <div class = "card">
            <img src="../../../assets/images/card-benvenuto.jpg" alt="">
          </div>
        </main>
      </div>

      <div class="col-md-9">
        <h2 class="benvenuto">Benvenuti in Marvellando</h2>
        <div class="testo-benvenuto"><p>benvenuti nel nostro sito dedicato all'universo Marvel! Siamo entusiasti di presentarvi un mondo fantastico di aneddoti sui film, descrizioni dettagliate dei personaggi e delle loro avventure, date di uscita dei film e anticipazioni sulle prossime uscite.</p>
        <p>Siamo appassionati del mondo Marvel e abbiamo deciso di creare questo sito per condividere con voi la nostra passione. Se siete fan dei film Marvel, troverete qui un luogo ideale per scoprire curiosità e approfondimenti sui vostri supereroi preferiti.</p>
          <p>Nel nostro sito potrete trovare informazioni su tutti i film Marvel finora prodotti, da Iron Man a Spider-Man, da Captain America a Thor e molti altri ancora. Ogni film è accompagnato da una descrizione dettagliata della trama, dei personaggi principali e delle loro abilità, con tante curiosità sulle riprese e sulle scelte degli attori.</p>
          <p>Inoltre, sarete sempre aggiornati sulle prossime uscite, con notizie e anticipazioni sui film in fase di produzione e sui personaggi che potrebbero fare la loro apparizione sul grande schermo.</p>
          Siamo lieti di accogliervi nel nostro mondo di supereroi e avventure e vi invitiamo a esplorare il nostro sito per scoprire tutto ciò che c'è da sapere sull'universo Marvel!
        </div>
      </div>
    </div>
  </div>

    <div class="linea-benvenuto-bottom"></div>

  </section>
