.titolo{
  display: flex;
  justify-content: center;
  position: relative;
  top: 5px;
  // bottom: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 480px){
  .titolo{
  margin-left: 2%;
  margin-right: 2%;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .titolo{
    margin-left: 2%;
    margin-right: 2%;
    }
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
  .titolo{
    margin-left: 2%;
    margin-right: 2%;
    }
}
