<app-navbar></app-navbar>
<a class="titolo img-fluid" href="https://www.fontspace.com/category/marvel"><img src="https://see.fontimg.com/api/renderfont4/Dj83/eyJyIjoiZnMiLCJoIjoxNjAsInciOjEzNzUsImZzIjoxMTYsImZnYyI6IiMwMDAwMDAiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/bWFydmVsbGFuZG8/marvel-regular.png" alt="Marvel fonts" height="80"></a>

<div class="fondo">
<app-carousel></app-carousel>


<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
    <div class="col">
      One of three columns
    </div>
  </div>
</div>


<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit odio, dolores harum aliquid atque earum suscipit delectus? Veniam nobis, voluptates porro cum, ducimus officiis necessitatibus qui molestiae soluta nesciunt odio.</div>
</div>

<div class="container footer justify-content-center">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <img src="../assets/images/icons8-marvel-480.png" class="icona-m">
    </a>


    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
  </footer>
</div>
<router-outlet></router-outlet>
