
.info-lista-film{
  color: var(--bianco);
  font-weight: 700;
  font-family: var(--titolo);
  margin-top: 4%;
  text-align: center;
  font-size: 30px;
}


  .contenitore-card{
    display: block;
    float: left;
    width: 23%;
    margin-left: 7.75%;
    margin-top: 20px;
    margin-bottom: 20px;

    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      font-family: 'Noto Sans TC', sans-serif;
    }

    .card {
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      position: relative;
      color: rgb(245, 245, 245);
      box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);

      img {
        // position: absolute;
        object-fit: cover;
        width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
      }

      h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        left: 0;
        right: 0;
        margin: auto;
        transition: inset .3s .3s ease-out;
        font-family: 'Noto Sans TC', sans-serif;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 2px 2px 2px #000,
        -2px -2px 2px #000,
        2px -2px 2px #000,
        -2px 2px 2px #000;
      }

      p, a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
        font-family: 'Noto Sans TC', sans-serif;
        text-shadow: 2px 2px 2px #000,
        -2px -2px 2px #000,
        2px -2px 2px #000,
        -2px 2px 2px #000;

      }

      p {
        inset: auto auto 80px 30px;
        font-family: 'Noto Sans TC', sans-serif;
      }

      a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
      }

      &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
        left: 0;
        right: 0;
        margin: auto;
      }

      &:hover p, &:hover a {
        opacity: 1;
        transition: opacity .3s .1s ease-in;
        // margin: auto;
      }

      &:hover img {
        transition: opacity .3s ease-in;
        opacity: 0.5;
        // opacity: 0.7!important;
        // box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.584)!important;
      }

    }

    .material-symbols-outlined {
      vertical-align: middle;
    }



  }

  .delete {
    // text-align: center;
    font-size: 23px;
    font-family: var(--titolo);
    background-color: var(--nero);
    color: var(--bianco);
    border-radius: 10px;
    height: 30%;
    width: 40%;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 5%;
  }


  .dimensioni{
    display:  flex;
    justify-content: center;
    align-items: center;
    height: 400px;
  }

  .cube-loader {
    position: relative;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }

  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }

  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(
      to bottom,
      #ffffff 0%,
      #4eacd4 100%
    );
  }

  .cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: #ffffff;
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
  }

  .cube-top::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: #4eacd4;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
                0 0 20px #4eacd4,
                0 0 30px #323232,
                0 0 40px #4eacd4;
  }
