<div class="container-fluid">
  <div class="row">
    <div class="col-5 justify-content-center container-lato-sx">
      <div class="lato-sx">
        <img src="{{film.image}}" alt="">
      </div>
    </div>
    <div class="col-7 lato-dx">
      <h2>{{film.title}}</h2>
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div>
              <h4>
                <fa-icon [icon]="faClapperboard"/>
                Director
              </h4>
              <p>{{film.director}}</p>
              <h4>
                <fa-icon [icon]="faMasksTheater"/>
                Cast</h4>
                <p>{{film.cast}}</p>
                <h4>
                  <fa-icon [icon]="faCalendarDay"/>
                  Data di Uscita</h4>
                  <p>{{film.date | date: 'longDate'}}</p>
                </div>
              </div>
              <div class="col-6">
                <h4>
                  <fa-icon [icon]="faScroll"/>
                  Trama
                </h4>
                <p class="film-description">{{film.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
