/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: 'Noto Sans TC', sans-serif; }
body {
  background-color : var(--bianco);
}

.bg-white { background : rgb(245, 245, 245)}

//start colori
:root {--bianco: rgb(245, 245, 245)!important;}

:root {--nero: rgb(5, 5, 5)!important;}

:root {--rosso: #D32F2F!important;}

// start font
:root{--titolo: 'Bangers', cursive;}
:root{--thanos: 'thanos'}

@font-face {
  font-family: 'thanos';
  src: url('./assets/fonts/AvengeroDisassembledRegular-nRvd4.ttf') format('truetype');
}

.prefondo{
  position: relative;

.fondo{
background: var(--rosso);
margin: auto;
width: 80%;
height: auto;
border-radius: 15px;
border: var(--nero) 2px solid;
min-width:0;
display: block;
float: left;
margin-left: 10%;
position: relative;
top: 20px;
font-family: 'Noto Sans TC', sans-serif;
}

}

.sottotitolo{
  color: var(--bianco);
  font-weight: 700;
  font-family: var(--titolo);
  margin-top: 10%;
  text-align: center;
  font-size: 50px;
}

.p-password, .p-inputtext {
  width: 100%!important;
  float: right;
  border-radius: 0.5rem!important;
  border: var(--nero) 1.5px solid!important;
  height: 54px;
}

.p-paginator {
  background: transparent!important;
  /* color: #490707; */
  /* border: solid #e9ecef; */
  border-width: 0px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: var(--bianco);
  border-color: var(--nero);

  color: var(--nero);
  font-size: 20px;
}
.p-link:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.1rem var(--nero)!important;
}

// input.p-inputtext.p-component.p-element.ng-tns-c46-2.p-password-input {
//   border: 2.5px;
//   border-color: var(--nero);
//   border: solid;
// }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@media only screen and (min-width: 0px) and (max-width: 480px){
  .prefondo{
  .fondo{
  width: 96%;
  float: left;
  margin-left: 2%;
  }

  }
}
@media only screen and (min-width: 481px) and (max-width: 768px){
  .prefondo{
  .fondo{
  width: 96%;
  float: left;
  margin-left: 2%;
  }

  }
}
@media only screen and (min-width: 769px) and (max-width: 1023px){
  .prefondo{
  .fondo{
  width: 96%;
  float: left;
  margin-left: 2%;
  }
  }
}
