/* You can add global styles to this file, and also import other style files */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body {
  background-color : var(--bianco);
}

.bg-white { background : rgb(245, 245, 245)}

//start colori
:root {--bianco: rgb(245, 245, 245)!important;}

:root {--nero: rgb(5, 5, 5)!important;}

:root {--rosso: #D32F2F!important;}
//

.fondo{
width: 75%;
background-color: var(--rosso);
height: auto;
margin: auto;
// margin-top: 70px;
margin-bottom: 2px;
border-radius: 15px;
position: fixed;
position: relative;
top: 80px;
bottom: 2px;
// // margin-left: auto;
// // margin-right: auto;
// // overflow-x: hidden;
// overflow-y: scroll;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
