
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
  }

  .p-messages {
    background-color: yellow;
    color: black;
    border: 2px solid black;
  }

  .card-registration .select-arrow {
  top: 13px;
  }

  .card-registration{
    position: relative;
    left: 0;
    right: 0;
    width: 100%;

    .contenitore2{
      position: relative;
      margin: 0 auto;

      label,h6{
        position: relative;
        color: var(--bianco);
        font-weight: 550;
        // line-height: 1.2;
        font-family: var(--titolo);
        // margin-top: 5%;
        // margin-bottom: 4%;
        text-align: start;
        font-size: 25px;

      }

      row{
        height: 50%;
      }

      .sesso, .check{
        font-family: 'Noto Sans TC', sans-serif;
        font-size: 20px;
        font-weight: 400;
      }

      .check{
        margin-top: 2%;
        .form-check-input[type=checkbox] {
          border-radius: 0.25em;
          margin: unset;
      }
      }

      .bottone{
        background-color: var(--nero);
        color: var(--bianco);
        border-radius: 10px;
        height: 55px;
        width: 49%;
        font-size: 30px;
        font-family: var(--titolo);
        cursor: pointer;
        margin-left: 25%;
      }

      .form-control{
        height: 52px;
      }

      .errori{
        height: 20px;
      }

      .col-sesso{
        padding-top: 25px;
      }

    }
    .condizioni{
      font-size: 20px !important;
    }

  }
