 //footer
footer{
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  padding: 16px;
  align-items: center;

}
.icona-m {
  width: 16%;
}
.border-footer{
  border-top: solid;
  border-top-color: var(--nero);
  border-top-width: 3px 80px;
  // width: 90%;
  margin-left: 0;
  margin-right: 0;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 100%;
}
//end-footer
