 //footer
footer{
  // position: relative;
  // top: 74.73px;
  // top: 10px;
  // margin-left: 0px;
  // margin-right: 0px;
  float: left;
  width: 100%;
  height: 200px;
  margin-top: 30px;
  padding: 16px;
  align-items: center;

}
.icona-m {
  width: 16%;
  // height: 40px;
  // margin: 4px;

}
.border-footer{
  border-top: solid;
  border-top-color: var(--nero);
  border-top-width: 3px;
  // margin-top: 100px;
}

.container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 100%;
}
//end-footer
